*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-brand img{
    width: 140px;
}

.navbar-brand{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.navbar{
    padding: 1em !important;
}
.navbar-toggler{
    border: none !important;
    outline: none !important;
}

.banner{
    padding-left: 60px;
    padding-right: 60px;
}

.home-header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(new-york.jpg);
    background-position: center;
    background-size: cover;

}
.banner-text{
    font-size: 36px;
    color: #fff;
    padding-left: 4%;
    padding-top: 200px;
    padding-bottom: 200px;

}

.banner-text .btn-primary{
    background-image: linear-gradient(to right, #3636f3, #be43f1);
    border: none !important;
    box-shadow: none !important;
    font-size: 12px;
    padding: 15px 30px;
    margin-top: 10px;
}